#footer {
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#footer > div {
    justify-content: space-between;
    display: flex;
    padding-top: 15px;
}
.social-img {
   height: 44px;
   width: 44px; 
//    margin-right: 10px;
//    margin-left: 10px;
   
  
}